// FIXME: mixinファイルを作成すると
// ActionView::Template::Errorが発生する
@mixin sized-box {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


.debug_dump {
  clear: both;
  float: left;
  width: 80%;
  margin: 45px 45px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  @include sized-box;
}